<html>
<body>
<h1>Link check - logs</h1>
<p>
http://www.great.gov.uk/invest - GOOD<br/>
http://www.great.gov.uk/int/invest - GOOD<br/>
http://www.great.gov.uk/us/invest - GOOD<br/>
http://www.great.gov.uk/cn/invest - GOOD<br/>
http://www.great.gov.uk/de/invest - GOOD<br/>
http://www.great.gov.uk/in/invest - GOOD<br/>
http://www.great.gov.uk/study - GOOD<br/>
http://www.great.gov.uk/visit - GOOD<br/>
http://www.great.gov.uk/export/occasional - GOOD<br/>
http://export.great.gov.uk - GOOD<br/>
http://www.great.gov.uk/export/find-a-buyer - GOOD<br/>
http://sso.trade.great.gov.uk - GOOD<br/>
http://trade.great.gov.uk - GOOD<br/>
http://find-a-buyer.export.great.gov.uk - FAILED<br/>
404 - --2016-11-29 14:14:47--  https://find-a-buyer.export.great.gov.uk/%7B%25%20static%20'govuk-0.18.0/assets/images/apple-touch-icon-60x60.png
<br/>
http://selling-online-overseas.export.great.gov.uk - GOOD<br/>
--  All Sites Checked --
</p>
</body>
</html>
