<html>
<body>
<h1>Link check - logs</h1>
<p>
http://www.great.gov.uk/invest - GOOD<br/>
http://www.great.gov.uk/int/invest - GOOD<br/>
http://www.great.gov.uk/us/invest - GOOD<br/>
http://www.great.gov.uk/cn/invest - GOOD<br/>
http://www.great.gov.uk/de/invest - GOOD<br/>
http://www.great.gov.uk/in/invest - GOOD<br/>
http://www.great.gov.uk/study - GOOD<br/>
http://www.great.gov.uk/visit - GOOD<br/>
http://www.great.gov.uk/export/occasional - GOOD<br/>
http://export.great.gov.uk - GOOD<br/>
http://www.great.gov.uk/export/find-a-buyer - GOOD<br/>
http://www.great.gov.uk/export/selling-online-overseas - FAILED<br/>
404 - --2016-12-06 16:10:08--  https://selling-online-overseas.export.great.gov.uk/export/selling-online-overseas
<br/>
http://sso.trade.great.gov.uk - GOOD<br/>
http://trade.great.gov.uk - GOOD<br/>
http://find-a-buyer.export.great.gov.uk - FAILED<br/>
404 - --2016-12-06 16:10:14--  https://find-a-buyer.export.great.gov.uk/%7B%25%20static%20'govuk-0.18.0/assets/images/apple-touch-icon-60x60.png
<br/>
http://selling-online-overseas.export.great.gov.uk - GOOD<br/>
http://invest.great.gov.uk - FAILED<br/>
404 - --2016-12-06 16:18:11--  https://invest.great.gov.uk/media/vid/
<br/>
 - FAILED<br/>
404 - --2016-12-06 16:18:12--  https://invest.great.gov.uk/media/vid/creative.mp4
<br/>
 - FAILED<br/>
404 - --2016-12-06 16:18:26--  https://invest.great.gov.uk/media/vid/financial-services.mp4
<br/>
 - FAILED<br/>
404 - --2016-12-06 16:18:36--  https://invest.great.gov.uk/media/vid/technology.mp4
<br/>
--  All Sites Checked --
</p>
</body>
</html>
